body, html{
    margin: 0;
    padding: 0;
}

.content{
    width: 960px;
    margin: 0 auto;
}
.slick-list{
    overflow: hidden;
}

.slider{
    position: relative;
    padding: 20px 80px;
    background-color: white;

}

.slick-track {
	display: flex;
}

.slide{
    text-align: center;
}

.slide img {
	height: 170px;
}

.slick-arrow{
    position: absolute;
    top: 50%;
    z-index: 1;
    font-size: 0;
    width: 70px;
    height: 70px;
    border: none;
    margin-top: -35px;
}
.slick-arrow.slick-prev{
    background: url("img/arrow-left.svg") center / 100% no-repeat;
    left: 0;
}
.slick-arrow.slick-next{
    background: url("img/arrow-right.svg") center / 100%  no-repeat;
    right: 0;
}

.slick-dots {
	display: flex;
	align-items: center;
	justify-content: center;
    margin-bottom: 0;
}

.slick-dots li {
	list-style: none;
	margin: 0 5px;
}
.slick-dots li.slick-active button {
	background-color: rgb(67, 67, 67);
}
.slider .slick-dots button {
	font-size: 0;
	width: 15px;
	height: 15px;
	background-color: #4618ff;
	border-radius: 50%;
    border-width: 1px;
}
